.App {
	padding: 1rem;
	/* padding-top: calc(var(--header-height) + 1rem); */
	padding-top: var(--header-height);
	padding-bottom: var(--safe-area-max-inset-bottom);
}

.text-button {
	background-color: transparent;
	color: dodgerblue;
	font-size: inherit;
	font-family: inherit;
}