::-webkit-scrollbar {
	display: none;
}

-webkit-outer-spin-button,
-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
}

input[type='number'] {
    appearance: textfield;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

:root {
	/* https://developer.chrome.com/docs/css-ui/edge-to-edge */
	--safe-area-max-inset-bottom: env(safe-area-max-inset-bottom, 36px);
	--app-width: 640px;
	--header-height: 80px;
	--accent-color: dodgerblue;
    --color-primary: light-dark(hsl(0deg 0% 15%), hsl(0deg 0% 94%));
    --color-secondary: light-dark(hsl(0deg 0% 45%), hsl(0deg 0% 62%));
    --bg: light-dark(hsl(0deg 0% 98%), black);
    --bg-color-primary: light-dark(hsl(0deg 0% 100%), hsl(0deg 0% 8%));
    --bg-color-secondary: light-dark(hsl(0deg 0% 92%), hsl(0deg 0% 16%));
    --bg-color-tertiary: light-dark(hsl(0deg 0% 84%), hsl(0deg 0% 24%));
	--border-radius-primary: 36px;
	--border-radius-secondary: 24px;
	--border-radius-tertiary: 14px;
	--input-height-primary: 3rem;

	/* shadow */
	--shadow-sm: 0 0 4px rgb(0 0 0 / 5%);
  	--shadow-md: 0 0 8px rgb(0 0 0 / 6%);
  	--shadow-lg: 0 0 12px rgb(0 0 0 / 8%);
}

/* Override LightningCSS polyfill variables when dark theme is forced */
html[style*="color-scheme: dark"] {
	--lightningcss-light: ;
  	--lightningcss-dark: initial;
}

/* Override LightningCSS polyfill variables when light theme is forced */
html[style*="color-scheme: light"] {
  	--lightningcss-light: initial;
  	--lightningcss-dark: ;
}

html,
body {
	overscroll-behavior-y: contain;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
	color: var(--color-primary);
	user-select: none;
	color-scheme: light dark;
	background-color: var(--bg);
}

a {
	color: unset;
	text-decoration: none;
}

button {
	color: inherit;
	border: none;
}

input {
	background-color: var(--bg-color-primary);
	border: none;
	border-radius: var(--border-radius-secondary);
}

:where(
	textarea,
	input:is(
		[type="text"],
		[type="search"],
		[type="url"],
		[type="password"],
		[type="email"],
		[type="number"],
	)
) {
	/* Light box-shadow visible only on light theme */
	box-shadow: var(--shadow-lg);
}

li {
	list-style: none;
}

textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: none;
}