/* container */
.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.toolbar {
	display: flex;
	gap: 8px;
}

.toolbar > div {
	width: 100%;
}

/* note list */
.list {
	display: flex;
	flex-direction: column;
	gap: 10px;

	/* padding-bottom: 80px; */
}

.monthLabelWrapper {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	padding-top: 4px;
	padding-bottom: 8px;
	color: var(--color-secondary);
}

.monthLabel {
	padding: 8px 12px;
	margin: 0 auto;
	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-tertiary);
}