.pages {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
	min-height: 100%;
}

.toolbar {
	position: sticky;
	top: 0;
	background-color: var(--bg);
}

.actions {
	right: 0;
	left: 0;
	max-width: var(--app-width);
	padding-inline: var(--app-inline-padding);
	margin: 0 auto;
}

.actions button {
	width: 100%;
	height: 56px;
}