:root {
	--toolbar-height: 56px;
	--toolbar-padding-bottom: 8px;
}

.wrapper {
	position: sticky;
	top: 0;
	z-index: 5;
	height: calc(var(--toolbar-height) + var(--toolbar-padding-bottom));
	padding-bottom: var(--toolbar-padding-bottom);
	background-color: var(--bg);
	box-shadow: 0 5px 5px color-mix(in srgb, var(--bg) 50%, transparent);
}

/* .toolbar */
.toolbar {
	display: flex;
	gap: 8px;
	height: 100%;
}

.toolbar > div:first-child {
	flex: 1;
}

.toolbarActionsWrapper {
	display: flex;
	gap: 8px;
	height: 100%;
}

/* selectionToolbar */
.selectionToolbar {
	display: flex;
	gap: 8px;
	align-items: center;
	height: 100%;
}

.selectionInfo {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 4px;
	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-secondary);
}

.selectionCount {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 100%;
	aspect-ratio: 3 / 2;
	font-weight: bold;
	background-color: var(--bg-color-tertiary);
	border-radius: 16px;
}

.selectionLabel {
	display: flex;
	flex:1;
	align-items: center;
	justify-content: center;
}

.selectionToolbar button {
	height: var(--toolbar-height);
	padding: 0 16px;
	text-wrap: nowrap;
	background-color: var(--bg-color-primary);
}

/* action */
.actionSquare {
	width: var(--toolbar-height);
	height: var(--toolbar-height);
}