/* button */
.button {
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: center;
	height: 36px;
	padding: 0 14px;
	font-size: 14px;
	font-weight: bold;
	background-color: dodgerblue;
	border-radius: var(--border-radius-secondary);
}

.button.secondary {
	background-color: var(--bg-color-secondary);
}

.button.text {
	height: auto;
	padding: 0;
	font-size: 16px;
	color: dodgerblue;
	background-color: unset;
}

.button.danger {
	color: light-dark(#722225, #ed6062);
	background-color: light-dark(#df8a8d, #3b1c1d);
}

/* icons */
.button svg {
	width: 16px;
	height: 16px;
}

.indicator {
	margin-left: auto;
}

/* disabled */
.button:disabled {
	opacity: 0.5;
}