.page {
	position: fixed;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(var(--bg), var(--bg-color-secondary));
}

.contentWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1440px;
	padding: 64px;
}

/* Left side */
.textColumn {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 16px;
}

.logoWrapper {
	display: flex;
	gap: 8px;
	align-items: center;
}

.logoImg {
	width: 32px;
	height: 32px;
}

.title {
	display: flex;
	flex-direction: column;
	font-size: 3.6rem;
	font-weight: 900;
}

.description {
	max-width: 50ch;
	font-size: 1.2rem;
	font-weight: 200;
	color: var(--color-secondary);
}

.benefitsList {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 16px;
}


.benefitItem {
	display: flex;
	gap: 16px;
	align-items: center;
	font-size: 1.4rem;
	color: var(--color-secondary);
}

.benefitTitle {
	color: var(--color-primary);
}

.actions {
	display: flex;
	gap: 16px;
	margin-top: 16px;
}

.actions button {
	height: 48px;
	padding: 0 24px;
	font-size: 1rem;
}

.installButton {

}

.skipButton {

}

/* Right side */
.imageColumn {
	display: flex;
	flex: 0 0 60%;
	align-items: center;
	justify-content: center;
	outline: 1px solid tomato;
}

.screenshot {
	display: block;
	max-width: 100%;
	object-fit: contain;
	transform: scale(1.25);
}

.highlight {
	color: var(--color-primary);
}

@media screen and (width >= 576px) {
	.imageColumn {
		margin-right: -120px;
	}
}

@media screen and (width < 576px) {
	.contentWrapper {
		flex-direction: column;
		height: 100%;
		padding: 32px 16px;
	}

	.textColumn {
		z-index: 2;
		flex: 0 0 auto;
	}

	.title {
		font-size: 2.4rem;
	}

	.benefitItem {
		padding: 8px 16px;
		background-color: var(--bg-color-primary);
		border-radius: var(--border-radius-secondary);
	}

	.benefitText {
		display: flex;
		flex-direction: column;
		gap: 4px;
		order: -1;
		margin-right: auto;
	}

	.benefitTitle {
		font-size: 1.2rem;
	}

	.benefitDescription {
		font-size: 1rem;
	}

	.actions {
		flex-direction: column;
	}

	.imageColumn {
		z-index: 1;
		flex: 1;
	}

	.screenshot {
		/* max-width: 125%; */
	}
}