/* drawer */
.drawer {
	/* outline: 1px solid tomato; */
	position: fixed;
	bottom: -96px;
	left: 0;
	z-index: 300;
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	padding: 16px 16px calc(16px + 96px);
	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-primary) var(--border-radius-primary) 0 0;
	will-change: opacity, transform;
}

/* handle */
.handle {
	align-self: center;
	width: 80px;
	height: 8px;
	background-color: var(--bg-color-tertiary);
	border-radius: var(--border-radius-secondary);
}

/* title */
.title {
	margin: 6px 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

/* action list */
.actions {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(24px, 48px);
	gap: 6px;
	align-content: center;
}

/* action */
.actionButton {
	justify-content: unset;
	width: 100%;
	height: 100%;
	padding: 0 18px;
	background-color: var(--bg-color-tertiary);
	border-radius: 24px;
	box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}

/* placeholderWrapper */
.placeholderWrapper {
	display: flex;
	justify-content: center;
}

.placeholderWrapper > div {
	position: static;
	top: unset;
	left: unset;
	transform: unset;
}

@media screen and (width >= 576px) {
	.drawer {
		left: calc(50% - 222px);
		width: 444px;
	}
}