:root {
	--textarea-padding: 32px;
	--button-size: 48px;
}

/* form */
.form {
	/* outline: 1px solid tomato; */
	position: fixed;
	right: 0;
	bottom: 0;
	bottom: var(--safe-area-max-inset-bottom);
	left: 0;
	z-index: 240;
	display: flex;
	gap: 8px;
	width: 100%;
}

.form textarea {
	width: 100%;
	padding: var(--textarea-padding);
	padding-right: calc(var(--button-size) + var(--textarea-padding));
	font-size: 1rem;
	resize: none;
	background-color: var(--bg-color-secondary);
	border: none;
	border-radius: var(--border-radius-primary)  var(--border-radius-primary) 0 0;
}

.form textarea:focus {
	outline: unset;
}

.actionButton {
	position: fixed;
	right: 16px;
	bottom: 0;
	bottom: calc(
		var(--safe-area-max-inset-bottom) +
		var(--textarea-padding) +
		0.5rem -
		25px +
		1px
	);
	z-index: 250;
	flex-shrink: 0;
	width: var(--button-size);
	height: var(--button-size);
	border-radius: var(--border-radius-secondary);
}

.actionButton svg {
	width: 22px;
	height: 22px;
}

.actionButton:disabled {
	color: var(--color-secondary);
	background-color: var(--bg-color-tertiary);
}

@media screen and (width >= 576px) {
	.form {
		bottom: 0;
		width: var(--app-width);
		padding: 0 16px;
		margin: 0 auto;
	}

	.actionButton {
		right: calc((100vw - var(--app-width)) / 2 + 32px);
		bottom: calc(
			var(--textarea-padding) +
			0.5rem -
			25px +
			1px
		);
	}
}