:root {
	--textarea-padding: 32px;
	--button-size: 50px;
}

/* form */
.form {
	/* outline: 1px solid tomato; */
	position: fixed;
	left: 0;
	bottom: 0;
	bottom: var(--safe-area-max-inset-bottom);
	width: 100%;

	display: flex;
	gap: 0.4rem;

	z-index: 240;
}

.form textarea {
	width: 100%;
	font-size: 1rem;
	padding: var(--textarea-padding);
	padding-right: calc(var(--button-size) + var(--textarea-padding));
	background-color: var(--bg-color-secondary);
	border: none;
	border-radius: var(--border-radius-primary)  var(--border-radius-primary) 0 0;
	resize: none;
}

.form textarea:focus {
	outline: unset;
}

.actionButton {
	position: fixed;
	right: 16px;
	bottom: 0;
	bottom: calc(
		var(--safe-area-max-inset-bottom) +
		var(--textarea-padding) +
		0.5rem -
		25px +
		1px
	);
	width: var(--button-size);
	height: var(--button-size);
	border-radius: var(--border-radius-secondary);
	flex-shrink: 0;
	z-index: 250;
}

.actionButton svg {
	width: 22px;
	height: 22px;
}