/* page */
.page {
	display: flex;
	flex-direction: column;
	gap: 32px;
	height: 100%;
}

/* footer */
.footer {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-top: auto;
}

.version {
	color: gray;
	text-align: center;
}