.container {
	display: flex;
	gap: 4px;
	padding: 4px;
	overflow-x: scroll;
	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-secondary);
}

.tab,
.selectedIndicator {
	border-radius: 16px
}

.tab {
	position: relative;
	flex: 1;
	height: 40px;
	padding: 0 16px;
	color:var(--color-secondary);
	background-color: unset;
}

.tab.selected {
	color: var(--color-primary);
}

.selectedIndicator {
	position: absolute;
	inset: 0;
	z-index: 0;
	background-color: var(--bg-color-tertiary);
}

.tabText {
	position: relative;
	z-index: 1;
}