:root {
	--container-padding: 4px;
}

.wrapper {
  	position: relative;
 	width: 100%;
 	overflow: hidden;
	border-radius: var(--border-radius-secondary);

	/* Light box-shadow visible only on light theme */
	box-shadow: var(--shadow-lg);
}

.container {
	display: flex;
	flex-shrink: 0;
	gap: 4px;
	height: 100%;
	padding: var(--container-padding);
	overflow-x: scroll;
	background-color: var(--bg-color-primary);
}

.tab,
.selectedIndicator {
	border-radius: calc(var(--border-radius-secondary) - var(--container-padding));
}

.tab {
	position: relative;
	flex: 1;
	height: 100%;
	min-height: 48px;
	padding: 0 16px;
	color:var(--color-secondary);
	text-wrap: nowrap;
	background-color: unset;
}

.tab.selected {
	color: var(--color-primary);
}

.selectedIndicator {
	position: absolute;
	inset: 0;
	z-index: 0;
	background-color: var(--bg-color-tertiary);
}

.tabText {
	position: relative;
	z-index: 1;
}

.gradient {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	z-index: 10;
  	width: 60px;
  	pointer-events: none;
	opacity: 0;
  	transition: opacity 0.2s ease;
}

.left {
	left: 0;
	background: linear-gradient(to right, var(--bg-color-primary), transparent);
}

.right {
	right: 0;
	background: linear-gradient(to left, var(--bg-color-primary), transparent);
}

.visible {
	opacity: 1;
}