.form,
.fieldset,
.section {
	display: flex;
	flex-direction: column;
}

.form,
.fieldset {
	gap: 24px;
}

.section {
	gap: 16px;
}

.input {
	width: 100%;
	height: var(--input-height-primary);
	padding-inline: 16px;
	background-color: var(--bg);
	border: 1px solid var(--bg-color-secondary);
}

.input:focus {
	outline: none;
}

.sectionHeader {
	margin: 0;
}

.radioLabel {
	display: flex;
	align-items: center;
	height: 48px;
	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-tertiary);
}

.radioLabel:has(input:checked) {
	font-weight: bold;
	color: var(--accent-color);
	background-color: var(--bg-color-tertiary);
}

/* Crypto */
.cryptoRadioGroup {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}

.cryptoLabel {
	padding-inline: 8px;
}

.cryptoOption {
	display: flex;
	gap: 4px;
	align-items: center;
}

/* Amount */
.amountRadioGroup {
	display: flex;
	gap: 8px;
}

.amountLabel {
	flex: 1;
	justify-content: center;
}

.customAmountInput {
	flex: 1.25;
	font-weight: bold;
	color: var(--accent-color);
	text-align: center;
	border-radius: var(--border-radius-tertiary);
}

.input:disabled,
label:has(input:disabled) {
	opacity: 0.5;
}

/* Anonymous Notice */
.anonymousNotice {
	color: darkorange;
}

/* Actions */
.actions {
	display: flex;
	gap: 8px;
}

.actions button {
	height: 48px;
}

.closeButton {
	flex:1;
}

.submitButton {
	flex: 2;
}

.placeholderImage {
	width: 40px !important;
	height: 40px !important;
}

.spinner {
	animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}