.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.inputWrapper {
	position: relative;
}

.inputWrapper button {
	position: absolute;
	top: calc(50% - 20px);
	right: 4px;
	width: 40px;
	height: 40px;
	padding: 0;
}

.inputWrapper button svg {
	width: 18px;
	height: 18px;
}

.input {
	width: 100%;
	height: var(--input-height-primary);
	padding-right: 56px;
	padding-left: 16px;
	outline-offset: -2px;
	border: 1px solid var(--bg-color-tertiary);

	/* Light box-shadow visible only on light theme */
	box-shadow: var(--shadow-lg);
}

.input:focus {
	outline: none;
}

.buttons {
	display: flex;
	gap: 8px;
}

.buttons button {
	height: 48px;
}

.buttons button:nth-child(1) {
	flex: 1;
}

.buttons button:nth-child(2) {
	flex: 2;
}