.header {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 8px 16px;
	align-items: center;
	margin: 0 16px 16px;
	font-size: 1rem;
}

.title {
	grid-row: 1;
	grid-column: 1;
}

.extra {
	grid-row: 1;
	grid-column: 2;
}

.description {
	grid-row: 2;
	grid-column: 1 / span 2;
	color: var(--color-secondary);
}