/* dialog */
.dialog {
	position: fixed;
	top: 50%;
	right: 0;
	left: 50%;
	z-index: 999;
	width: calc(100% - 16px);
	max-width: 444px;
	padding: 24px;
	box-shadow: unset;
}

/* content */
.content {
	/* outline: 1px solid tomato; */
	display: flex;
	flex-direction: column;
	gap: 16px;
}

/* subTitle */
.subTitle {
	display: block;
	margin-top: 4px;
	color: var(--color-secondary);
}

/* img */
.img {
	align-self: center;
	width: 50%;
}

/* text */
.text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.actions {
	display: flex;
	gap: 8px;
}

.actions li {
	flex: 1;
}

.actionButton {
	width: 100%;
}