/* dialog */
.dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 999;
	width: 85%;
	padding: 1rem;
	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-secondary);
	box-shadow: 0 0 15px rgb(0 0 0 / 25%);
}

/* content */
.content {
	/* outline: 1px solid tomato; */
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* subTitle */
.subTitle {
	color: gray;
}

/* img */
.img {
	align-self: center;
	width: 50%;
}

/* text */
.text {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.actions {
	display: flex;
	gap: 8px;
}

.actions li {
	flex: 1;
}

.actionButton {
	width: 100%;
}

@media screen and (width >= 576px) {
	.dialog {
		width: 600px;
	}
}