/* form */
.form {
	/* outline: 1px solid tomato; */
	position: sticky;
	left: 0;
	bottom: 0;
	transform: translate(-1rem, 1rem);

	display: flex;
	gap: 0.4rem;

	width: calc(100% + 2rem);

	background-color: var(--bg);
	border-top: 1px solid var(--bg-color-secondary);

	padding: 0.6rem 1rem;
	margin-top: auto;
	z-index: 88;
}

.form input {
	width: 100%;
	height: 2rem;
	padding: 0 1rem;
}

.form input:focus {
	outline: 2px solid dodgerblue;
}
