.appearance {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.category {
	/* outline: 1px solid tomato; */
}

.category h4 {
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.list {
	display: flex;
	flex-direction: column;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
}

.item {
	/* outline: 1px solid gray; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list li:not(:last-child) {
	border-bottom: 1px solid var(--bg-color-secondary);
}

/* item */
.item h3 {
	font-size: 1rem;
}

.item small {
	color: gray;
}
