/* top */
.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* desc */
.desc {
	width: 100%;
	color: gray;
}

/* iconWrapper */
.iconWrapper {
	display: flex;
	align-items: center;
}

/* svg */
.top svg {
	width: 1.4rem;
	height: 1.4rem;
}
