.wrapper,
.form {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

/* .form > .label:nth-child(3) {
	padding-bottom: 4rem;
} */

.label {
	display: flex;
	flex-direction: column;
}

/* label header */
.labelHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.6rem;
}

.showMoreIconsBtn {
	background-color: transparent;
	font-weight: bold;
	color: dodgerblue;
}

/* input */
.input {
	height: 3rem;

	background-color: var(--bg-color-primary);
	color: inherit;
	border: none;
	border-radius: var(--border-radius-secondary);

	padding-left: 1rem;
}

/* colors */
.colors,
.icons {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 2rem;
	justify-content: space-between;
	gap: 0.4rem;
}

.colors label,
.icons label {
	/* outline: 1px solid red; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius-secondary);
}

.colors input,
.icons input {
	appearance: none;
}

.colors input:checked ~ .checkMark,
.icons input:checked ~ .iconBg {
	/* outline: 2px solid var(--accent-color); */
	display: flex;
}

/* icons */
.icons svg {
	color: gray;
}

.icons input:checked ~ svg {
	color: inherit;
}

.icons svg,
.checkMark svg {
	/* outline: 1px solid red; */
	width: 1.4rem;
	height: 1.4rem;
}

.iconCategory {
	/* outline: 1px solid red; */
	grid-column: span 7;
	display: flex;
	align-items: flex-end;
	color: gray;
}

/* createBtn */
.createBtn {
	position: absolute;
	left: 1rem;
	right: 1rem;
	bottom: 1rem;
	height: 3rem;

	background-color: dodgerblue;
	color: inherit;
	border-radius: var(--border-radius-secondary);
	font-weight: bold;

	margin-top: auto;
}

/* outline */
.checkMark,
.iconBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: none;
	justify-content: center;
	align-items: center;

	border-radius: var(--border-radius-secondary);
}

.iconBg {
	display: block;
	background-color: var(--bg-color-primary);
	z-index: -1;
}

.icons input:checked ~ .iconBg {
	background-color: var(--bg-color-secondary);
}

/* info */
.info {
	padding-bottom: 4rem;
	color: gray;
}

/* state */
.alreadyExist {
	outline: 2px solid red;
	outline-offset: -2px;
}
