/* dialog */
.dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%); */

	width: 85%;

	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-primary);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

	padding: 1rem;
	z-index: 999;
}

/* content */
.content {
	/* outline: 1px solid tomato; */
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* subTitle */
.subTitle {
	color: gray;
}

/* img */
.img {
	width: 50%;
	align-self: center;
}

/* text */
.text {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

/* btnsWrapper */
.btnsWrapper {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;

	border-top: 1px solid var(--bg-color-tertiary);

	margin-top: 1rem;
	padding-top: 1rem;
}

@media screen and (min-width: 576px) {
	.dialog {
		width: 600px;
	}
}