/* menu */
.menu {
	/* outline: 2px solid red; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: flex-end;

	backdrop-filter: grayscale(50%) brightness(0.75) blur(4px);
	z-index: 149;
}

/* content */
.content {
	/* outline: 1px solid tomato; */
	position: absolute;
	left: 0;
	bottom: -4rem;
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	background-color: var(--bg-color-secondary);
	border-radius: 2rem 2rem 0 0;

	padding: 1rem 1rem calc(1rem + 4rem);
}

/* handle */
.handle {
	width: 80px;
	height: 8px;

	align-self: center;

	background-color: var(--bg-color-tertiary);
	border-radius: var(--border-radius-secondary);
}

/* title */
.title {
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0.4rem 1.2rem;
	/* margin: 0 1.2rem; */
}

/* list */
.list {
	width: 100%;
	/* height: 100%; */
	/* padding: 1rem; */

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(1.6rem, 3.4rem);
	align-content: center;
	gap: 0.4rem;
}

.list li {
	width: 100%;
}

/* .list li:nth-child(5) {
	grid-column: span 2;
} */

/* btn */
.list button {
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	justify-content: unset;
	padding: 0 1.2rem;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 576px) {
	.menu {
		outline: 1px solid tomato;
		justify-content: center;
	}

	.content {
		width: calc(var(--app-width) / 1.4);
		position: relative;
	}
}