/* header */
.header {
	/* outline: 1px solid red; */
	outline-offset: -1px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.6rem;

	padding: 0.6rem;
}

/* header right */
.progressWrapper {
	display: flex;
	gap: 2px;
}

/* icon */
.iconWrapper {
	/* outline: 1px solid tomato; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius-secondary);
}

.iconWrapper,
.markAsCompletedBtn {
	flex-shrink: 0;
	width: 3rem;
	height: 3rem;
}

.iconWrapper svg,
.markAsCompletedBtn svg {
	width: 1.6rem;
	height: 1.6rem;
}

/* btns */
.markAsCompletedBtn {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: var(--border-radius-secondary);
}

/* titleWrapper */
.titleWrapper {
	/* outline: 2px solid greenyellow; */
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	overflow: hidden;
}

.title {
	/* outline: 1px solid blue; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* desc */
.desc {
	display: flex;
	gap: 0.6rem;
	color: gray;
}
