.habit {
	background-color: hsl(0, 0%, 10%);
	border-radius: 12px;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid hsl(0, 0%, 20%);

	padding: 1rem;
}

.content {
	padding: 1rem;
}
