/* header */
.header {
	/* outline: 1px solid red; */
	outline-offset: -1px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.6rem;

	padding: 0.6rem;
}

/* header right */
.progressWrapper {
	display: flex;
	gap: 2px;
}

.progressWrapper.completed {
	animation: scaleIn 0.2s ease-in;
}

.progressWrapper.uncompleted {
	animation: scaleOut 0.2s ease-in;
}

/* icon */
.iconWrapper {
	/* outline: 1px solid tomato; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius-secondary);
}

.iconWrapper,
.progressBtn {
	flex-shrink: 0;
	width: 3rem;
	height: 3rem;
}

.iconWrapper svg,
.progressBtn svg {
	width: 1.6rem;
	height: 1.6rem;
}

/* btns */
.progressBtn {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: var(--border-radius-secondary);
}

.progressBtn.multiFrequency {
	border-radius: 0 var(--border-radius-secondary) var(--border-radius-secondary) 0;
}

/* titleWrapper */
.titleWrapper {
	/* outline: 2px solid greenyellow; */
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	overflow: hidden;
}

.title {
	/* outline: 1px solid blue; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* desc */
.desc {
	display: flex;
	gap: 0.6rem;
	color: gray;
}

/* restoreIcon */
.restoreIcon {
	width: 1.4rem;
	height: 1.4rem;
	flex-shrink: 0;
	margin-right: 1rem;
}

/* animation */
@keyframes scaleIn {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes scaleOut {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}
