.habit {
	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
}

/* header */
.header {
	/* outline: 1px solid tomato; */
	display: flex;
	justify-content: space-between;

	/* border-bottom: 1px solid hsl(0, 0%, 20%); */

	padding: 0.6rem;
}

.headerLeft {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

/* icon */
.iconWrapper {
	/* outline: 1px solid tomato; */
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: var(--bg-color-tertiary); */
	border-radius: var(--border-radius-secondary);
}

.iconWrapper,
.markAsCompletedBtn {
	width: 3rem;
	height: 3rem;
}

.iconWrapper svg,
.markAsCompletedBtn svg {
	width: 1.6rem;
	height: 1.6rem;
}

/* btns */
.markAsCompletedBtn {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: var(--border-radius-secondary);
}

/* titleWrapper */
.titleWrapper {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.content {
	padding: 0 0.6rem 0.6rem;
}
