.habit {
	background-color: hsl(0, 0%, 10%);
	border-radius: 12px;
}

/* header */
.header {
	/* outline: 1px solid tomato; */
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid hsl(0, 0%, 20%);

	padding: 1rem;
}

.headerLeft {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

/* icon */
.headerLeft svg {
	width: 1.4rem;
	height: 1.4rem;
}

.content {
	padding: 1rem;
}
