.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--bg);

	padding: 0 1.6rem;
	z-index: 99;
}

/* logo */
.logoWrapper {
	/* outline: 1px solid tomato; */
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.logo {
	display: block;
	width: 1.8rem;
	height: 1.8rem;
	background: url(../../public/icons/logo192-alpha.png);
	background-size: contain;
}

.header h1 {
	font-size: 1.6rem;
}

/* btnsWrapper */
.navList {
	display: flex;
	align-items: center;
	gap: 1rem;
}
