/* list */
.list {
	display: flex;
	flex-direction: column;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
}

.list li:not(:last-child) {
	border-bottom: 1px solid var(--bg-color-secondary);
}
