/* menuItem */
.menuItem {
	/* outline: 1px solid tomato; */
	width: 100%;
	padding: 1rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	background-color: unset;
}

/* icon */
.menuItem svg {
	width: 1.6rem;
	height: 1.6rem;
	flex-shrink: 0;
}

/* textWrapper */
.textWrapper {
	/* outline: 1px solid tomato; */
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	text-align: left;
}

.title {
	font-size: 1rem;
}

.desc {
	color: gray;
	font-size: 0.8rem;
}

/* arrow */
.textWrapper + svg {
	color: gray;
	margin-left: auto;
	width: 1.2rem;
	height: 1.2rem;
}

.other {
	margin-left: auto;
}
