.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;

	background-color: var(--bg);

	padding: 1rem;
	padding-bottom: 0;
	z-index: 99;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

/* close btn */
.header button svg {
	transform: rotate(45deg);
}

/* childrenWrapper */
.childrenWrapper {
	padding-bottom: 1rem;
	overflow-y: scroll;
}
