/* month */
.month {
	/* outline: 1px solid green; */
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: minmax(auto, min-content);
}

/* weekday */
.weekday {
	/* outline: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* day */
.day {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--bg-color-secondary);
	font-weight: 300;
}
