/* monthBlock */
.monthBlock {
	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
	padding: 1rem;
}

.header {
	/* outline: 1px solid tomato; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.4rem;
}

/* icon */
.header svg {
	width: 1.6rem;
	height: 1.6rem;
}
