/* header */
.header {
	position: sticky;
	top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--bg);

	padding-bottom: 0.6rem;
}

/* diary list */
.list {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
