/* note */
.note {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
	font-size: 1rem;
	font-weight: 400;

	padding: 1.2rem;
}

/* desc */
.desc {
	color: gray;
}

/* date */
.date {
	display: flex;
	gap: 0.4rem;
}
