/* header */
.header {
	margin-bottom: 0.6rem;
}

/* content */
.content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* top */
.top {
	display: flex;
	gap: 0.4rem;
}

.input {
	width: var(--input-height-primary);
	height: var(--input-height-primary);
	text-align: center;
	pointer-events: none;
}

.btn {
	width: 100%;
	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-secondary);
	pointer-events: all;
}

/* bottom */
.bottom {
	display: flex;
	gap: 0.4rem;
	margin-left: calc(var(--input-height-primary) + 0.4rem);
}

.bottom button {
	width: 100%;
	pointer-events: all;
}

/* state */
.btn:disabled,
.bottom button:disabled {
	color: gray;
}
