/* header */
.header {
	margin-bottom: 0.6rem;
}

/* content */
.content {
	display: flex;
	justify-content: space-between;
	gap: 0.4rem;
}

/* input */
.input {
	width: var(--input-height-primary);
	height: var(--input-height-primary);
	text-align: center;
	pointer-events: none;
}

/* btn */
.btn {
	width: 100%;
	background-color: var(--bg-color-primary);
	pointer-events: all;
}
