/* card */
.card {
	height: 5rem;

	display: flex;
	gap: 1rem;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);

	padding: 1rem;
}

/* img */
.img {
	height: 100%;
	aspect-ratio: 1;
}

/* infoWrapper */
.infoWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4rem;

	overflow: hidden;
}

/* desc */
.desc {
	color: gray;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
