/* yearPicker */
.yearPicker {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);

	padding: 1rem;
}

/* svg */
.yearPicker svg {
	margin: 0 0.4rem;
	width: 1.4rem;
	height: 1.4rem;
}
