/* yearPicker */
.yearPicker {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);

	padding: 0.6rem;
}

/* button */
.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-secondary);

	/* padding: 0.4rem; */
	width: 3rem;
	height: 3rem;
}

.btn:disabled svg {
	color: gray;
}

/* svg */
.yearPicker svg {
	width: 1.6rem;
	height: 1.6rem;
}
