.habitList {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.habitList > li {
	min-width: 0;
}

.habitList.isArchive {
	gap: 10px;
}

@media screen and (width >= 576px) {
	.habitList {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
}
