.habitList {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.habitList.isArchive {
	gap: 10px;
}

@media screen and (width >= 576px) {
	.habitList {
		flex-flow: row wrap;
		width: var(--app-width);
		margin: 0 auto;
	}
}
