/* month */
.month {
	/* outline: 1px solid green; */
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 3px;
	padding: 0;
}

/* weekday */
.weekday {
	/* outline: 1px solid red; */
	margin-bottom: 7px;
}

.weekday,
.day {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	font-weight: bold;
}

/* day */
.day {
	aspect-ratio: 1 / 1;
	border-radius: 6px;
}