/* menuItem */
.menuItem {
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: start;
	width: 100%;
	height: auto;
	padding: 16px;
	background-color: unset;
}

/* icon */
.menuItem > svg:first-of-type,
.menuItem > img:first-of-type {
	flex-shrink: 0;
	width: 26px;
	height: 26px;
}

.menuItem.sm > svg:first-of-type,
.menuItem.sm > img:first-of-type {
	width: 16px;
	height: 16px;
}

.menuItem.lg > svg:first-of-type,
.menuItem.lg > img:first-of-type {
	width: 48px;
	height: 48px;
}

/* textWrapper */
.textWrapper {
	/* outline: 1px solid tomato; */
	display: flex;
	flex-direction: column;
	gap: 6px;
	overflow: hidden;
	text-align: left;
}

.title {
	font-size: 1rem;
}

.description {
	font-size: 0.8rem;
	font-weight: normal;
	color: gray;
}

.description.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.extra {
	margin-left: auto;
}
