/* yearPicker */
.yearPicker {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-secondary);

	padding: 0.6rem;
}

/* button */
.button {
	width: 48px;
	height: 48px;
}
