/* top */
.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* description */
.description {
	width: 100%;
	color: gray;
}

/* extra */
.extra {
	display: flex;
	align-items: center;
}