.modal {
	position: fixed;
	inset: 0;
	z-index: 129;
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
	background-color: var(--bg);
}

/* header */
.header {
	display: flex;
	flex-shrink: 0;
	gap: 16px;
	align-items: center;
	height: var(--header-height);
	padding: 0 16px;
}

/* modalTitle */
.modalTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.6rem;
	white-space: nowrap;
}

.header svg {
	flex-shrink: 0;
	width: 26px;
	height: 26px;
	stroke-width: 20;
	transform: rotate(180deg);
}

/* childrenWrapper */
.childrenWrapper {
	height: 100%;
	padding: 16px;
	padding-top: 0;
	overflow-y: scroll;
}

@media screen and (width >= 576px) {
	.modal {
		width: var(--app-width);
		margin: 0 auto;
	}
}
