/* note */
.note {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 12px;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-secondary);
	font-size: 1rem;
	font-weight: 400;

	white-space: pre-wrap;
    word-wrap: break-word;

	padding: 18px;
	padding-bottom: 12px;

	overflow: hidden;
}

/* text */
.text {
	/* outline: 1px solid tomato; */
	line-height: 1.2rem;
	overflow: hidden;
}

/* description */
.description {
	/* outline: 1px solid tomato; */
	display: flex;
	gap: 16px;
	align-items: center;
	color: gray;
}

/* date */
.date {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}
