.App {
	padding: 1rem;
	/* padding-top: calc(var(--header-height) + 1rem); */
	padding-top: var(--header-height);
}

.text-button {
	background-color: transparent;
	color: dodgerblue;
	font-size: inherit;
	font-family: inherit;
}
