::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--app-width: 760px;
	--header-height: 4rem;

	--accent-color: dodgerblue;

	--bg: light-dark(hsl(0, 0%, 95%), black);
	--bg-color-primary: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 8%));
	--bg-color-secondary: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 12%));
	--bg-color-tertiary: light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 20%));

	--border-radius-primary: 1rem;
	--border-radius-secondary: 0.6rem;
	--border-radius-tertiary: 0.4rem;

	--input-height-primary: 3rem;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
	color-scheme: light dark;
	background-color: var(--bg);
	color: light-dark(black, hsl(0, 0%, 90%));
	user-select: none;
}

a {
	color: unset;
	text-decoration: none;
}

button {
	border: none;
	color: inherit;
}

input {
	border: none;
	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-secondary);
}

li {
	list-style: none;
}

.no-scroll {
	overflow: hidden;
}
