.habit {
	/* position: relative; */
	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
	overflow: hidden;
}

.content {
	padding: 0 0.6rem 0.6rem;
}

@media screen and (min-width: 576px) {
	.habit {
		flex: 0 0 calc((var(--app-width) / 2) - (1rem / 2));
	}
}
