.sortButton {
	flex-shrink: 0;
	height: 100%;
	aspect-ratio: 1;
	background-color: var(--bg-color-primary);
}

.sortButton.active {
	color: var(--accent-color);
	background-color: var(--bg-color-secondary);
}