.form {
	display: flex;
	flex-direction: column;
	gap: 32px;
	height: 100%;
}

.submitButtonWrapper {
	/* outline: 1px solid tomato; */
	position: sticky;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: flex;
	gap: 8px;
	width: calc(100% + 32px);
	padding: 16px;
	margin-top: auto;
	background-image: linear-gradient(transparent, var(--bg));
	transform: translate(-16px, 16px);
}

.submitButton {
	width: 100%;
	height: 48px;
}

.submitButton:disabled {
	color: var(--color-secondary);
	background-color: var(--bg-color-tertiary);
	opacity: 1;
}